@charset "UTF-8";

body {
  padding-top: 5rem;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

.moya {
	padding-top: 3rem;
	font-size: 44px;
}

.summary {
	padding-top: 1rem;
}