<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
<div th:replace="~{block/header::headerA}"></div>
<h1 th:text="${title}">仮のタイトル</h1>
<table>
	<tr>
		<th>id</th><th>content</th><th>cause</th><th>category</th><th>desire</th><th>datetime</th>
	</tr>
	<tr th:each="contents : ${contentsList}">
		<td th:text="${contents.id}">1</td>
		<td th:text="${contents.content}"></td>
		<td th:text="${contents.cause}"></td>
		<td th:text="${contents.category}"></td>
		<td th:text="${contents.desire}"></td>
		<td th:text="${contents.created}"></td>
	</tr>
</table>
</body>
</html>